.app-nav {
  background-color: #2962ff;
  color: #fff;
  font-weight: 500;
}

.app-nav-wrap {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
}

.app-main {
  text-align: center;
}

.spinner {
  margin-top: 100px;
}
